{% extends 'layouts/main-apple.html' %}
{% load static %}

{% block content %}
<table id="ssp-lights-table" role="presentation">
    <tbody>
    {% for group_components in components %}
        <tr>
        {% for component in group_components %}
            <td id="info-tooltip-wrapper-0" class="info-tooltip-wrapper">
                <div class="light-container">
                    <div class="light-content light-image">
                        {% if component.name != '' %}
                        <div class="
                        {% if component.status == 1 %} light-maintenance {% endif %}
                        {% if component.status == 2 %} light-available {% endif %}
                        {% if component.status == 3 %} light-issue {% endif %}
                        {% if component.status == 4 %} light-outage {% endif %}
                        "
                        ></div>
                        {% endif %}
                    </div>
                    <div class="light-content light-name">
                        <span role="text">
                            {{ component.name }}
                            <span class="a11y">: available</span>
                        </span>
                    </div>
                </div>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
